@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    Goiânia, GO<br />
    <abbr title="Phone">Contato:</abbr>
    62 9 9864-0198
</address>

<address>
    <strong>Email::</strong> <a href="mailto:vinidev.morais@gmail.com">vinidev.morais@gmail.com</a><br />
</address>
